/*
.color-red {
    color: red;
}

div.main-content h2.heading {
    font-style: italic;
    color: red;
}

div {
    color: initial;
    margin-left: 20px;
}

.pai > .filha > .filha{
    color: red;
}
*/

.pai .um + .dois {
    color: red;
}

[meu-atributo |="qualquercoisa"] {
    color: red;
}

[checked] {
    width: 50px;
    height: 50px;
}